/* line 1, ../sass/_sticky-footer.scss */
* {
  margin: 0;
}

/* line 4, ../sass/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 7, ../sass/_sticky-footer.scss */
.main-wrapper {
  min-height: 100%;
  height: auto !important;
  /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -242px;
  /* the bottom margin is the negative value of the footer's height */
}

/* line 13, ../sass/_sticky-footer.scss */
.page-footer, .push {
  height: 242px;
  /* .push must be the same height as .footer */
}

/* line 2, ../sass/_login.scss */
.login-form .form-control {
  background: #f1f2f2;
  color: #bcbec0;
  border: none;
  opacity: .5;
}
/* line 8, ../sass/_login.scss */
.login-form .form-control:active, .login-form .form-control:focus {
  opacity: 1;
}

/* line 2, ../sass/_suggestion.scss */
.social-support a {
  text-decoration: none;
}
/* line 5, ../sass/_suggestion.scss */
.social-support a img {
  height: 35px;
}
/* line 8, ../sass/_suggestion.scss */
.social-support a h6 {
  color: black;
  font-weight: 300;
}
/* line 15, ../sass/_suggestion.scss */
.social-support a:hover h6, .social-support a.active h6 {
  font-weight: 500;
  color: blue;
}

/* line 1, ../sass/_disclaimer.scss */
h2.thin {
  font-size: 28px;
  font-weight: 200;
}

/* line 13, ../sass/_disclaimer.scss */
.page-body #one-two-section .form-group,
.page-body #favorite-section .form-group,
.page-body #day-section .form-group {
  margin-bottom: 50px;
}
/* line 18, ../sass/_disclaimer.scss */
.page-body #day-section img {
  height: 100px;
}
/* line 23, ../sass/_disclaimer.scss */
.page-body #commercial-section .submit {
  font-weight: 300;
}
/* line 29, ../sass/_disclaimer.scss */
.page-body #kids-section p {
  margin-bottom: 30px;
}

/* line 29, ../sass/fire.scss */
.smart, .page-header, nav.navbar-default, .page-body form .nav-tabs li a {
  background: white;
  border: none;
  box-shadow: none;
}

/* line 35, ../sass/fire.scss */
.wrapper {
  overflow: hidden;
  display: table;
  width: 100%;
}

/* line 41, ../sass/fire.scss */
.page-header {
  padding-top: 100px;
  margin-top: 0;
}

/* line 48, ../sass/fire.scss */
.alert-success, nav.navbar-default .navbar-nav > li.active a.btn-success, .page-body form .nav-tabs li.active a, .page-body form .panel .panel-body .btn.btn-primary, .page-body form .panel-primary .panel-heading {
  background: #74a889;
  color: #f1f2f2;
  border: none;
}

/* line 54, ../sass/fire.scss */
.alert-info, .social-vote .btn.btn-default, .page-body form .nav-tabs li.inactive a, .page-body form .news-feed .panel .panel-body .btn.btn-info {
  background: #f1f2f2;
  color: black;
  border: none;
}

/* line 60, ../sass/fire.scss */
.alert-warning, .page-body form .tab-content .tab-pane .well .btn.btn-default {
  background: white;
  color: #bcbec0;
  border: none;
}

/* line 66, ../sass/fire.scss */
.alert-danger, .page-body form .tab-content .tab-pane .well .btn.btn-success {
  background: white;
  color: black;
  border: 1px solid #74a889;
}

/* line 72, ../sass/fire.scss */
.alert-default, .social-vote .btn.btn-primary, .page-footer .navbar.navbar-footer.navbar-inverse .navbar-nav > li > a span.btn {
  background: white;
  color: #74a889;
  border: 1px solid #74a889;
}

/* line 78, ../sass/fire.scss */
.alert-disable, .page-body #commercial-section .submit {
  background: #a7a9ac;
  color: white;
  border: none;
}

/* line 84, ../sass/fire.scss */
.glyphicon {
  margin-right: 5px;
}

/* line 88, ../sass/fire.scss */
.padding-0 {
  padding: 0;
}

/* line 92, ../sass/fire.scss */
.margin-0 {
  margin: 0;
}

/* line 97, ../sass/fire.scss */
.submit button[type="submit"] {
  -webkit-box-shadow: rgba(0, 0, 0, 0.37255) 0px 4px 6px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.37255) 0px 4px 6px 0px;
  -ms-box-shadow: rgba(0, 0, 0, 0.37255) 0px 4px 6px 0px;
  box-shadow: rgba(0, 0, 0, 0.37255) 0px 4px 6px 0px;
}

/* line 104, ../sass/fire.scss */
.input-group.input-danger input, .input-group.input-danger span {
  -webkit-box-shadow: rgba(0, 0, 0, 0.37255) 0px 2px 4px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.37255) 0px 2px 4px 0px;
  -ms-box-shadow: rgba(0, 0, 0, 0.37255) 0px 2px 4px 0px;
  box-shadow: rgba(0, 0, 0, 0.37255) 0px 2px 4px 0px;
}
/* line 107, ../sass/fire.scss */
.input-group.input-danger input[type="text"] {
  border: 1px solid #74a889;
}
/* line 110, ../sass/fire.scss */
.input-group.input-danger .btn-success {
  background: #74a889;
  color: #f1f2f2;
}

/* line 118, ../sass/fire.scss */
.social-vote .btn {
  margin-bottom: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.37255) 0px 2px 4px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.37255) 0px 2px 4px 0px;
  -ms-box-shadow: rgba(0, 0, 0, 0.37255) 0px 2px 4px 0px;
  box-shadow: rgba(0, 0, 0, 0.37255) 0px 2px 4px 0px;
}
/* line 124, ../sass/fire.scss */
.social-vote .btn.btn-default span.glyphicon-heart {
  color: white;
}
/* line 131, ../sass/fire.scss */
.social-vote .btn span.glyphicon-heart {
  margin-top: 2px;
}

/* line 139, ../sass/fire.scss */
img.pull-left.glyphicon {
  margin-right: 20px;
}
/* line 142, ../sass/fire.scss */
img.pull-right.glyphicon {
  margin-left: 10px;
}

/* line 147, ../sass/fire.scss */
.close {
  opacity: .5;
}
/* line 150, ../sass/fire.scss */
.close:hover {
  opacity: 1;
}

/* line 160, ../sass/fire.scss */
nav.navbar-default .navbar-nav > li.active a {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 176, ../sass/fire.scss */
.page-body .input-group-btn .btn {
  margin-right: -3px;
}
/* line 181, ../sass/fire.scss */
.page-body form .nav-tabs {
  padding: 0 27px;
  border: none;
}
/* line 185, ../sass/fire.scss */
.page-body form .nav-tabs li {
  padding: 0 2px;
}
/* line 187, ../sass/fire.scss */
.page-body form .nav-tabs li a {
  color: #74a889;
}
/* line 203, ../sass/fire.scss */
.page-body form .tab-content {
  padding: 15px 10px;
  border: 1px solid #74a889;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.37255) 0px 6px 12px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.37255) 0px 6px 12px 0px;
  -ms-box-shadow: rgba(0, 0, 0, 0.37255) 0px 6px 12px 0px;
  box-shadow: rgba(0, 0, 0, 0.37255) 0px 6px 12px 0px;
}
/* line 210, ../sass/fire.scss */
.page-body form .tab-content .tab-pane > div:last-child {
  margin-bottom: 0;
}
/* line 214, ../sass/fire.scss */
.page-body form .tab-content .tab-pane .well h5 {
  padding-top: 0;
  padding-bottom: 20px;
}
/* line 218, ../sass/fire.scss */
.page-body form .tab-content .tab-pane .well .btn {
  margin-bottom: 4px;
}
/* line 232, ../sass/fire.scss */
.page-body form .panel {
  border: 1px solid #bcbec0;
}
/* line 234, ../sass/fire.scss */
.page-body form .panel h5 {
  padding: 0 10px;
}
/* line 239, ../sass/fire.scss */
.page-body form .panel .panel-body .btn.btn-default {
  background: white;
  color: #bcbec0;
}
/* line 254, ../sass/fire.scss */
.page-body form .alert {
  padding: 5px 15px;
}
/* line 257, ../sass/fire.scss */
.page-body form .alert .close img {
  margin-top: -2px;
}
/* line 266, ../sass/fire.scss */
.page-body form .news-feed .panel .panel-body .btn.btn-info {
  color: white;
}
/* line 278, ../sass/fire.scss */
.page-body form .social-feed .panel .panel-body .btn.btn-success {
  color: #4fb3e0;
  background: white;
  border: 1px solid #4fb3e0;
}
/* line 283, ../sass/fire.scss */
.page-body form .social-feed .panel .panel-body .btn.btn-warning {
  color: #385988;
  background: white;
  border: 1px solid #385988;
}
/* line 288, ../sass/fire.scss */
.page-body form .social-feed .panel .panel-body .btn.btn-danger {
  color: white;
  background: #0278ba;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.37255) 0px 2px 3px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.37255) 0px 2px 3px 0px;
  -ms-box-shadow: rgba(0, 0, 0, 0.37255) 0px 2px 3px 0px;
  box-shadow: rgba(0, 0, 0, 0.37255) 0px 2px 3px 0px;
}
/* line 297, ../sass/fire.scss */
.page-body form .social-feed .panel .panel-body .social-button .close img {
  margin-top: 6px;
}
/* line 308, ../sass/fire.scss */
.page-body #missing-section > .row {
  margin-bottom: 50px;
}

/* line 314, ../sass/fire.scss */
.page-footer {
  background: #e6e7e8;
}
/* line 317, ../sass/fire.scss */
.page-footer .social-buttons li {
  padding: 15px;
}
/* line 319, ../sass/fire.scss */
.page-footer .social-buttons li a {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 100%;
  display: table;
}
/* line 326, ../sass/fire.scss */
.page-footer .social-buttons li a.facebook {
  background: #0278ba;
}
/* line 329, ../sass/fire.scss */
.page-footer .social-buttons li a.twitter {
  background: #4fb3e0;
}
/* line 332, ../sass/fire.scss */
.page-footer .social-buttons li a.instagram {
  background: #385988;
}
/* line 336, ../sass/fire.scss */
.page-footer .social-buttons li a i.fa {
  color: white;
  font-size: 20px;
}
/* line 344, ../sass/fire.scss */
.page-footer .navbar.navbar-footer {
  margin-bottom: 0;
  border-radius: initial;
}
@media (max-width: 767px) {
  /* line 344, ../sass/fire.scss */
  .page-footer .navbar.navbar-footer {
    position: fixed;
    z-index: 1030;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
/* line 352, ../sass/fire.scss */
.page-footer .navbar.navbar-footer.navbar-inverse {
  background: #74a889;
  border: none;
}
/* line 357, ../sass/fire.scss */
.page-footer .navbar.navbar-footer.navbar-inverse .navbar-nav > li > a {
  color: #f1f2f2;
  line-height: 30px;
}
/* line 361, ../sass/fire.scss */
.page-footer .navbar.navbar-footer.navbar-inverse .navbar-nav > li > a:hover, .page-footer .navbar.navbar-footer.navbar-inverse .navbar-nav > li > a:focus {
  color: red;
}
/* line 366, ../sass/fire.scss */
.page-footer .navbar.navbar-footer.navbar-inverse .navbar-nav > li > a span.btn {
  padding: 6px 20px;
}
/* line 374, ../sass/fire.scss */
.page-footer .navbar.navbar-footer > .container {
  padding-left: 10px;
  padding-right: 10px;
}
